/* ---------- Tabs ---------- */
.tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 0;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #6b7280;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    border-bottom: 2px solid transparent;
}

.mehr-ang-btn {
    width: 176px;
    height: 46px;
    border-radius: 8px;
    background: white;
    border: 1px solid #36A866;
    color: #36A866;
    margin: 30px auto;
    cursor: pointer;
}
.text-center{
    text-align: center;
}

.tab-button:hover {
    color: #22c55e;
}

.tab-button.active {
    color: #22c55e;
    border-bottom: 2px solid #22c55e;
    font-weight: 600;
}

/* ---------- Table ---------- */
.table-container {
    overflow-x: auto;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.data-table thead {
    background-color: #f9fafb;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;

    color: #6b7280;
}

.data-table th,
.data-table td {
    text-align: left;
    border-bottom: 1px solid #f1f3f5;
    font-family: Inter;
    font-weight: 400;
    color: #475467;
    line-height: 20px;
    letter-spacing: 0%;


}

.data-table th {
    padding: 12px 10px;
    font-weight: 500;
}

.data-table td {
    font-size: 14px;
    padding: 18px 10px;

}

.data-table tbody tr:hover {
    background-color: #f9fafb;
}

/* ---------- Responsive ---------- */
@media (max-width: 768px) {
    .tabs {
        flex-wrap: wrap;
        gap: 15px;
    }

    .tab-button {
        font-size: 14px;
    }

    .data-table th,
    .data-table td {
        padding: 10px 8px;
        font-size: 13px;
    }
}